@font-face {
  font-family: 'DinCondensedBold';
  src: url('/assets/fonts/din-condensed-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

body {
  * {
    font-family: "Noto Sans JP", serif;
    letter-spacing: 0.10em;
  }
  main {
    width: 100%;
    overflow: clip;
  }
}

a {
  text-decoration: none;
  &:visited{
    color: inherit;
  }
}


img {
  pointer-events: none;
  user-select: none;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(10px);
}

// フェードトランジション
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(15px);
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

.inview {
  opacity: 1;
  transform: translateY(0);
}

.text-hover {
  &:hover {
    color: #E6B424 !important;
    transition: color 0.1s;
  }
}

@keyframes rotation{
  0%{ transform:rotate(0);}
}

.pc-only {
  display: block !important;
  @include mixins.max-screen(768px) {
    display: none !important;
  }
}
.sp-only {
  display: none !important;
  @include mixins.max-screen(768px) {
    display: block !important;
  }
}

.pc-only-flex {
  display: flex !important;
  @include mixins.max-screen(768px) {
    display: none !important;
  }
}
.sp-only-flex {
  display: none !important;
  @include mixins.max-screen(768px) {
    display: flex !important;
  }
}

.mask {
  overflow: hidden;
  position: relative;
}

/*
* {
  outline: 1px solid red;
}
*/